@use 'sass:math';

@use '../media';
@use '../mixins';

.greeting {
  position: relative;
  overflow: visible;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 100px;

  @include media.desktop {
    margin-bottom: 80px;
  }

  @include media.mobile {
    margin-bottom: 70px;
  }

  &::after {
    @include mixins.fluid-image(312, 70, math.div(312, 2176));

    content: '';
    position: absolute;
    background-image: url('/images/greeting/right-graffiti.svg');
    top: -325px;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;

    @include media.tablet {
      top: -275px;
    }

    @include media.mobile {
      top: -250px;
    }
  }

  &__title {
    line-height: 240%;
    padding-bottom: 27px;
  }

  &__text {
    @include mixins.fluid-text(22, 18);

    max-width: 886px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 50px;
    z-index: 2;

    @include media.desktop {
      padding-inline: 50px;
      padding-bottom: 35px;
    }

    @include media.mobile {
      padding-bottom: 50px;
    }

    @include media.mobile-s {
      padding-bottom: 45px;
    }
  }

  &__photoset {
    @include mixins.fluid-image(1203, 340, math.div(1203, 388));

    @include media.mobile {
      @include mixins.fluid-image(560, 340, math.div(560, 664));
    }
  }
}
