.soft-skills {
    grid-column: 1; 
    grid-row: 2;

    margin-bottom: 70px;

    @include tablet {
        width: 100%;
        padding-inline: 60px;
        margin-bottom: 50px;
    }

    @include mobile {
        padding-inline: 5px;
    }

    &__title {
        line-height: 34px;
        padding-bottom: 46px;

        @include tablet {
            text-align: center;
        }
    }

    &__list {
        list-style: disc;
        padding-left: 1.5em;
    }
}
