:root {
    --color-dark: #000000;
    --color-light: #ffffff;
    --color-accent: #b2fa36;
    --color-dark-gray: #717171;
    --color-light-gray: #dadada;

    --font-family-base: "Onest", sans-serif;
    --font-family-headers: "Onder", sans-serif;

    --transition-duration: 0.2s;
}
